{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "import/extensions": [2, "never", { "svg": "always", "scss": "always", "json": "always" }],
    "import/no-extraneous-dependencies": [2, { "peerDependencies": ["**/src/**"] }],
    "react/require-default-props": [0],
    "no-console": [0],
    "padded-blocks": ["error", "always"],
    "react/no-array-index-key": [0],
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "react/prop-types": [2, { "skipUndeclared": true }],
    "react/forbid-prop-types": [0],
    "react/sort-comp": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "import/prefer-default-export": [0],
    "no-return-assign": [0]
  },
  "globals": {
    IS_SERVER: true,
    IS_DEVELOPMENT: true,
    IS_PRODUCTION: true,
    google: true,
    Pusher: true,
    braintree: true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
